# Editor Files
.vscode/
.claude/

# LaTeX auxiliary files
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv

!homework*.pdf

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec
*.cover
*.py,cover
*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.pyre/
.dmypy.json
.pytype/
env/
venv/
ENV/
env.bak/
venv.bak/

# C++
*.o
*.obj
*.so
*.exe
*.dll
*.out
*.a
*.lib
*.dylib
*.exp
*.pdb
*.idb
*.class
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.cache
*.ilk
*.log
*.tlog
*.vspscc
*.vssscc
*.dbmdl
*.psess
*.vsp
*.vspx
*.vsix
*.code-workspace
*.VC.db
*.VC.VC.opendb

# Haskell
*.hi
*.o
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
*.tix
*.chi
*.chs.h
*.chi
*.o-boot
*.hi-boot
*.hs-boot
*.importlist
*.haddock
dist/
dist-newstyle/
.stack-work/
cabal.project.local
cabal.project.local~ 
.stack-work/
